li {
  list-style-type: none;
}

.tempItem {
  margin-left: 170px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: -355px;
}



.verticalLine {
  position: absolute;
  width: 90px;
  height: 0px;
  border: 1px solid #000000;
  transform: rotate(-90deg);
  top: 240px;
  left: 10px;
}

h1 {
  font-family: "Pragati Narrow", sans-serif;
  font-family: "Roboto", sans-serif;
}
